
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Comment */

body{
  font-family: Roboto, Arial;
  margin: 0;
  background-color: rgba(241, 241, 241, 0.3);
  height: 1000px;
}

@media (max-width:600px) {
  .header{
    height: 20vw;
  }
  
  .left-section{
    width: 100%;
  }

  .left-section img{
    height: 6vw;
  }

  .hamburger-menu{
    position: fixed;
    left: -2%;
  }

  .youtube-logo{
    position: fixed;
    right: 33%;
  }

  .middle-section{
    display: none;
  }

  .right-section{
    display: none;
  }

  .sidebar{
    display: none;
  }

  .video-grid{
    width: 100%;
    margin: 100px 30px;
  }

  .video-info p{
    font-size: 10px;
    width: 70%;
    line-height: 12px;
  }

  .video-time-2{
    font-size: 10px;
  }

  .video-time{
    font-size: 10px;
  }

}